/* font-family: 'Lalezar', cursive;
font-family: 'Oswald', sans-serif; */

/* #F6D8AE
#2E4057
#083D77
#DA4167
#F4D35E */

html {
  border: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif; 
}
body {
  border: 0;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  margin: 1px;
  color: yellow;
  font-size: 2.2em;
}
h1,h2,h3 {
  color:#DADAF5;
  font-family: 'Lalezar', cursive;
}
p {
  font-family: Arial;
}
a {
  text-decoration: none;
}

/*The navigation classes are below*/

.nav-item {
  display: inline;
  padding-right: 14px;
}
.nav-link {
  color: #DADAF5;
  font-family: Arial;
}
.menu {
  padding: 8px 30px 8px 0;
}

/*The column classes are below*/

.quarter-column {
  width: 24.28%;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: center;
}
.half-column {
  width: 48%;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.full-column {
  width: 99.6%;
  display: inline-block;
  padding: 0;
  margin: 0;
}

/* Title classes are below */
.main-title {
  padding: 250px 0 0 42px;
  margin: 0 0 0 0;
  color: #DADAF5;
  font-family: Arial;
  font-size: 4em;
}
.sub-title {
  padding: 0 0 0 42px;
  margin: 4px 0 0 0;
  color: #DADAF5;
  font-family: Arial;
}
.section-title {
  padding: 30px 0 50px 0;
  margin:  0 2px 0;
  font-family: Arial;
  font-size: 32px;
}
.sub-section-title {
  padding: 0 0 0 42px;
  margin:  0 0 0;
  font-family: Arial;
}
.sub-section-title-center {
  margin:  0 0 0;
  text-align: center;
  font-family: Arial;
}
.sub-section-left-text { 
  padding: 0 0 0 42px;
  font-family: Arial;
}
.sub-section-center-text {
  text-align: center;
  padding: 0 0 20px 0;
  font-family: Arial;
}

/* Specific section styling */
#logo{
  padding: 8px 0 0 42px;
}
#scroll-down-text{
  text-align: center;
  padding-top: 80px;
  color: #FFFDF9;
  font-family: Arial;
}
#nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right; 
}

/* Section one */
#section-1 {
  background-image: url(images/hexagonal-pattern_1051-833.jpg);
  background-color:black;
  background-position:  100% 40%;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  height:100vh; 
}
#navigation-menu {
 background-color: black;
 position:fixed;
 width:100%;
 z-index: 10000;
}
#navigation-menu a:hover {
  color:red;
}
#section-1 .full-column {
  text-align: center;
   padding-top:20vh; 
}
#section-1 .transparent-background {
  height:100vh; 
  background: linear-gradient(90deg, rgba(31,31,38,.9) 0%, rgba(5,5,233,.8) 50%, rgba(29,30,34,.9) 100%);
}
.title {
  font-size:4em;
  text-shadow: 0px 0px 5px rgb(243, 240, 245);
  color:#DADAF5;
  opacity:.9;
}
#section-1 h2 {
  font-size: 2.5em;
  color:#DADAF5;
}

/* Section two (About Me) */

#section-2 {
  background: black;
  height:850px;
  padding-bottom:50px;
}
#section-2 .half-column {
  margin:0;
  width:49%;
  float:left;
  height:200px;
  padding:30px;
}
#section-2 p {
  color:white;
}
#section-2 h2 {
  font-size:2.5em;
  padding-bottom:50px;
}
#hobbies{
  height:150px;
  margin:0;
}
#movies{
  height:150px;
  margin:0;
}
#food{
  height:150px;
  margin:0;
}

/* Work Section */

#section-3 {
  background-color: black;
  height:100vh;
}
#section-3 h2 {
  font-size:2.5em;
  padding-bottom:50px;
}
#section-3 img {
  width:00px;
  height:150px;
}
#section-3 p {
 color:white;
}

/* Contact */

#section-4{
  background-image: url(images/hexagonal-pattern_1051-833.jpg);
  background-position:  100% 40%;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  height:800px;
}
#section-4 .transparent-background {
  height:100%; 
  background: linear-gradient(90deg, rgba(31,31,38,.9) 0%, rgba(5,5,233,.8) 50%, rgba(29,30,34,.9) 100%);
}
#section-4 h2 {
  font-size:2.5em;
  padding-bottom:50px;
}
#section-4 h2 {
  font-size:2.5em;
  padding-bottom:50px;
}
#section-4 li {
  font-size:1.2em;
  color:white;
}

/* Footer */

#section-5{
  text-align:center;
  background-color: black;
  padding-bottom:30px;
}
#section-5 i {
  font-size:40px;
  padding-left:20px;
}


